// This file is empty within the template
// You can use it to override CSS from within your project

.content a {
  color: #161E2E;
  border-bottom: 2px dotted #EB1400; }
  .content a:hover {
    color: #EB1400; }